html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFAF00;
    font-family: 'Anton', sans-serif;
}

h1 {
    color: #3C7F72;
    font-size: 10vh;
    position: relative;
    top: 10%;
    left: 10%;
    letter-spacing: 5px;
}

.education {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 10%;
    padding-left: 3%;
    font-size: 2vh;
}

.school {
    font-size: 5vh;
}

.year {
    padding-bottom: 1%;
    letter-spacing: .2rem;
}

.highschool, .culinaryschool, .codingschool{
    width: 30%;
    position: relative;
    left: -10%;
    opacity: 0;
}

.bar-container {
    position: absolute;
    top: 10%;
    right: -10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 10;
    transform: rotate(45deg);
}

.rectangle {
    width: 80vh;
    height: 4vh;
    margin: 5px;
}