/* 
Z-index
1-10
2: #planet
3: #home-side-image

20-50
40: .navigation

50- 100
50: #Chillen-astro
55: .About-me-name 

60: #displayBoxMain

100-200
200+
200: .AboutMe
9999: Hamburger Menu
*/

/* CSS Variables */
:root{
    --shadow-x: 2px;
    --shadow-y: 2px;
    --shadow-blur: 4px;
    --shadow-color: rgba(0, 0, 0, 0.5)
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #011329;
    cursor: url("../images/icons/cursors/2.png"), auto;
}

a {
    cursor: url("../images/icons/cursors/2.png"), auto;
}

.displayBoxMain {
    z-index: 600;
    height: 75vh;
    width: 60vw; 
    opacity: 0;
    background-color: black;
    position: absolute;
    top: 15vh;
    left: 20vh;
    border-radius: 2%;
    border: 4mm ridge #3C7F72 ;
    box-shadow:var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);
    display: flex;
}

.techStackContainer {
    position: relative;
    display: flex;
    justify-content: center;
}

.centeredContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* This makes sure the container takes up all the space in the parent, so centering takes up the full height */
}

.mainContent {
    display: flex;
    align-items: center;
    opacity: 1;
}

@keyframes fadeInBox {
    0% {opacity: 0; }
    100% {opacity: .85; }
}

#my-name {
    font-size: 15vh;
    margin-bottom: -150px;
    font-family: 'Nabla', cursive;
    text-shadow:var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);;
}

@font-palette-values --nablaLast {
    font-family: 'Nabla';
    base-palette: 2;
        

    
}

#last-name {
    font-palette: --nablaLast;
    font-size: 10vh;
    margin-bottom: -55px;
    border-bottom: .5vh solid #F4DDB5;
    font-family: 'Nabla', cursive;
    text-shadow:var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);
}  
@font-palette-values --nablaTitle {
    font-family: 'Nabla';
    base-palette: 5;
    override-colors: 
        3 black,
        7 purple;
}

#my-title {
    font-palette: --nablaTitle;
    font-size: 7vh;
    font-family: 'Nabla', cursive;
    text-shadow:var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);
}  

#home-side-img {
    position: absolute;
    top: -10vh;
    left: -13vh;
    height: 120%;
    z-index: 3;
}


#chillen-astro{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 60vh;
    z-index: 50;
    object-position: left;
}

#hamburgerbtn{
    position: absolute;
    left: 90%;
    height: 5%;
    top: 10%;
    z-index: 9999;
    &:hover {
        opacity: 85%;
        transform: scale(1.1);
    }
}

.about-me-name{
    position: absolute;
    left: 43%;
    top: 20%;
    z-index: 55;
}

.navigation {
    position: absolute;
    top: 20%;
    right: 7.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 40;
    color: white;
    font-size: 5vh;
    font-family: 'Anton', sans-serif;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.navLinks {
    width: 60vh;
    height: 5vh;
    margin-top: 10%;
    text-align: right;
    text-decoration: none;
    color: white;
    text-shadow:var(--shadow-x) var(--shadow-y) var(--shadow-blur) var(--shadow-color);
    letter-spacing: 2px;
    animation: fadeIn 3s;
    &:hover {
        color: #F4DDB5;
        transform: scale(1.02)
    }
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

canvas {
    background: #011329;
    position: absolute;
}

#planet {
    left: -10%;
    bottom: 5%;
    position: absolute;
    height: 100vh;
    z-index: 2;
}

.hidden {
    opacity: 0;
    display: none;
    transition: opacity 0.5s, visibility 0s 0.5s;
}

.aboutMe {
    position: absolute;
    padding: 3%;
    z-index: 200;
    color: white;
    font-size: 20px;
    top: -30px;
    font-size: 2vh;
}

h2 {
    font-size: 5vh;
    text-align: center;
    color:#FFAF00;
}

.contactLinksContainer{
    display: flex;
}
.contactLinksImg {
    height: 20%;
}

.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 3%;
    padding: 2%;
}

.projectDisplayBox {
    height: 30vh;
    border: 2mm ridge #FFAF00;
    border-radius: 2%;
}

.projectDisplayBox:hover { 
    border: 2mm ridge #86001d;
}

.thumbnail1 {
    background: url('../images/elevate_thumb.svg') no-repeat center center; 
    background-size: cover;
}