/* 
Z-index
1-10
20-50
50- 100
100-200 
*/

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #011329;
}


.about-me-name{
    position: absolute;
    left: 43%;
    top: 20%;
    z-index: 55;
}

#my-name {
    color: #FFAF00;
    font-size: 15vh;
    margin-bottom: -150px;
    font-family: 'Anton', sans-serif;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5);
}  

#last-name {
    color: #3C7F72;
    font-size: 10vh;
    margin-bottom: -55px;
    border-bottom: .5vh solid #F4DDB5;
    font-family: 'Anton', sans-serif;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5)
}  

#my-title {
    color: #F4DDB5;
    font-size: 7vh;
    font-family: 'Dancing Script', cursive;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5)
}  

#home-side-img {
    position: absolute;
    top: -10vh;
    left: -13vh;
    height: 120%;
    z-index: 3;
}

#dots-dots-dots {
    position: absolute;
    height: 100vh;
    right: 0;
    opacity: 50%;
}

#chillen-astro{
    position: absolute;
    top: 30%;
    left: 10%;
    height: 60vh;
    z-index: 50;
    object-position: left;
    /* transition: transform 6s ease-in-out;
    transform-origin: center; */
}

#hamburgerbtn{
    position: absolute;
    left: 90%;
    height: 5%;
    top: 10%;
    z-index: 9999;
}

#hamburgerbtn:hover{
    opacity: 85%;
    transform: scale(1.1);
}

.navigation {
    position: absolute;
    top: 20%;
    right: 7.8%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 40;
    color: white;
    font-size: 5vh;
    font-family: 'Anton', sans-serif;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s;
}

.navLinks {
    width: 60vh;
    height: 5vh;
    margin-top: 10%;
    text-align: right;
    text-shadow:2px 2px 4px rgba(0, 0, 0, 0.5)
    letter-spacing: 2px;
    animation: fadeIn 3s;
}

@keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1;}
}

canvas {
    background: #011329;
    position: absolute;
}

.navLinks:hover {
    color: #F4DDB5;
    transform: scale(1.02)
}

#planet {
    left: -10%;
    bottom: 5%;
    position: absolute;
    height: 100vh;
    z-index: 2;
}

.hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0s 0.5s;
}